pillow==10.4.0
einops==0.8.0
h5py==3.12.1
# imageio
matplotlib==3.9.2
opencv_python==4.10.0.84
scikit_image==0.24
scipy==1.14
sklearn3
torch==2.2.2
#torchvision==0.19
tqdm==4.66.5
transformers==4.45.2
utils==1.0.2
# Pygments
pip-chill
